    <nav class="navbar navbar-default navbar-fixed-top header-nav" role="navigation">
      <div class="usa">
        <div class="container">
          <img alt="US flag" src="{{ site.baseurl }}/assets/images/us-flag.png" style="margin-right: 5px; height: 13px;" /> An official website of the United States Government
        </div>
      </div>
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-fixed-top .navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">
            <!--<img src="{{ site.baseurl }}/assets/images/logo.png" alt="FICAM Playbooks" />-->
			Federal Identity, Credential, and Access Management Playbooks
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="{{ site.baseurl }}">About Us</a></li>-->
            <li><a href="https://www.idmanagement.gov/">IDManagement.gov</a></li>
            <li><a href="http://www.idmanagement.gov/contact-ficam">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
